    <footer>
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Stay Connected</h2>
                        <hr class="primary">
                        <p>Be the first to know our best deals and events, connect with us on social media.</p>
                    </div>
                    <div class="col-xs-2 col-xs-offset-4 text-center">
                        <a href="https://www.facebook.com/wokandrolldc/" target="_blank" title="connect with us on Facebook"><i style="color: #47639E;" class="fa fa-facebook-square fa-4x wow bounceIn" data-wow-delay=".1s"></i></a>
                    </div>
                    <div class="col-xs-2 text-center">
                        <a href="https://twitter.com/WokNRollDC" target="_blank" title="connect with us on Twitter"><i class="fa fa-twitter-square fa-4x wow bounceIn text-info" data-wow-delay=".2s"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </footer>