    <section class="bg-primary brand-bg"  id="login">
        <div class="container">
            <div class="row">
                <div class="col-md-7 text-center">
                    <h2 class="section-heading">Locations & Hours</h2>
                    <hr class="light">
                    <h3>ChinaTown</h3>
                    <a class="text-link" href="https://www.google.com/maps?f=q&source=embed&hl=en&geocode&q=604+H+st.+NW++Washington+DC+20001&aq&sll=38.920582,-77.042036&sspn=0.012621,0.027874&ie=UTF8&hq&hnear=604+H+St+NW,+Washington+D.C.,+District+of+Columbia,+20001&ll=38.899725,-77.020233&spn=0.004175,0.008572&z=17&iwloc=A" target="_blank"><i class="fa fa-map-marker fa-3x wow bounceIn"></i></a>
                    <p>
                        604 H Street. NW<br>
                        Washington DC 20001<br>
                        Telephone: <a class="text-link" href="tel:2023474656">(202) 347-4656</a>
                    </p>
                    <p>Sunday - Thursday: 2:00 PM - 2:00 AM<br>Friday - Saturday: 2:00 PM - 3:00 AM</p>
                </div>
                <div class="col-md-4 text-center wow bounceIn">
                    <div id="errorAlert" class="alert alert-danger alert-dismissible text-left hidden" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <i class="fa fa-exclamation-circle fa-1x"></i> <span id="errorMsg"></span>
                    </div>
                    <form autocomplete="on">
                      <div class="form-group sign-up-field">
                        <label class="sr-only" for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username">
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                      </div>
                      <div class="row">
                          <div class="col-xs-6">
                              <button type="button" class="btn btn-warning btn-block" onclick="signup()">Signup</button>
                          </div>
                          <div class="col-xs-6">
                              <button type="button" class="btn btn-success btn-block" onclick="login()">Login</button>
                          </div>
                      </div>
                      <hr class="light">
                      <div>
                          <button type="button" class="btn btn-info btn-block" onclick="facebookLogin()">Login with Facebook</button>
                      </div>
                      <div>
                        <br>
                        <p><a class="text-link" href="/forgotpassword">Forget Password</a></p>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </section>