    <nav id="mainNav" class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Wok and Roll</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/restaurant">Restaurant</a>
                    </li>
                    <li>
                        <a href="/karaoke">Karaoke</a>
                    </li>
                    <li class="hidden">
                        <a href="/gallery">Gallary</a>
                    </li>
                    <li>
                        <a href="http://washington.eat24hours.com/wok-and-roll-restaurant/7260?W=1" target="_blank">Online Order</a>
                    </li>
                    <li class="hidden">
                        <a href="/vip">VIP</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>