<!DOCTYPE html>
<html lang="en">

<% include partials/head %>

<body id="page-top">
<% include partials/tracking %>
<script src="js/login.js"></script>
<% include partials/topnav %>
    <section class="bg-primary"  id="locations">
        <div class="container">
            <div class="text-center">
                <h2>404</h2>
                <h3>Page not found!</h3>
            </div>
        </div>
    </section>

<% include partials/footer %>

<% include partials/sharedResources %>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script src="js/pwreset.js"></script>
</body>

</html>
